{% extends 'default.html.twig' %}
{% block title %} Github {% endblock %}
{% block content %}
    <v-container>
        <v-layout>
            <v-flex>
                <v-card>
                    <v-toolbar flat color="primary" dark>
                        <v-toolbar-title>Repositories</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="syncGitHubRepositories">
                            <v-icon>fas fa-sync-alt</v-icon>
                        </v-btn>
                        <v-btn icon @click="exportToCsv">
                            <v-icon>fas fa-file-csv</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-container>
                        <v-layout>
                            <v-flex>
                                <v-data-table :headers="headers" :items="items" class="elevation-1" :loading="loading">
                                    <template v-slot:items="props">
                                        <td>[[ props.item.ownerName ]]</td>
                                        <td>[[ props.item.repositoryName ]]</td>
                                        <td>[[ props.item.watchers ]]</td>
                                        <td>[[ props.item.forks ]]</td>
                                        <td>[[ props.item.stars ]]</td>
                                        <td>[[ props.item.url ]]</td>
                                    </template>
                                </v-data-table>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
{% endblock %}

{% block js %}
    <script>
        var component = {
            data: () => ({
                items: [],
                loading: false,
                headers: [
                    {text: 'Owner', align: 'left', value: 'ownerName'},
                    {text: 'Repository Name', value: 'repositoryName'},
                    {text: 'Watchers', value: 'watchers'},
                    {text: 'Forks', value: 'forks'},
                    {text: 'Stars', value: 'stars'},
                    {text: 'Url', value: 'url'}
                ]
            }),
            mounted() {
                this.getItems()
            },
            methods: {
                getItems() {
                    this.loading = true
                    axios
                        .get('/github/list')
                        .then(response => {
                            this.items = response.data.items
                        })
                        .catch(err => {
                            swal('Atention', 'Error fetching data', 'error')
                        })
                        .finally(() => {
                            this.loading = false
                        })
                },
                syncGitHubRepositories() {
                    this.loading = true;
                    axios
                        .get('/github/fetchFromApi')
                        .then(response => {
                            swal('Success', response.data.message, 'success').then(this.getItems)
                        })
                        .catch(err => {
                            swal('Atention', 'Error fetching data', 'error')
                        })
                        .finally(() => {
                            this.loading = false
                        })
                },
                exportToCsv() {
                    this.loading = true;
                    axios({
                        url: '/github/exportToCsv',
                        method: 'GET',
                        responseType: 'blob',
                    }).then((response) => {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'github-report.csv');
                        document.body.appendChild(link);
                        link.click();
                    }).finally(() => {
                        this.loading = false
                    })
                }
            }
        }
    </script>
{% endblock %}