<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>MotorTest - {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>
<div id="app">
    <v-app>
        <v-toolbar color="primary" dark fixed app clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Motor Test</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-navigation-drawer v-model="drawer" clipped fixed app>
            <v-list-tile v-for="item in menuItems" :key="item.title" :href="item.url">
                <v-list-tile-action>
                    <v-icon v-if="item.icon">[[ item.icon ]]</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>[[ item.title ]]</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-content>
            {% block content %}{% endblock %}
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var component = {}
</script>
{% block js %} {% endblock %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        mixins: [component],
        data: () => ({
            drawer: false,
            menuItems: [
                {title: 'GitHub', url: '/github', icon: 'fas fa-code-branch'},
                {title: 'Report', url: '/report', icon: 'fas fa-file-download'}
            ]
        })
    })
</script>
</body>
</html>