{% extends 'default.html.twig' %}
{% block title %} Reports {% endblock %}
{% block content %}
    <v-container>
        <v-layout>
            <v-flex>
                <v-card>
                    <v-toolbar flat color="primary" dark>
                        <v-toolbar-title>Sales</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="exportToCsv">
                            <v-icon>fas fa-file-csv</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-container>
                        <v-layout>
                            <v-flex>
                                <v-data-table :headers="headers" :items="items" class="elevation-1" :loading="loading">
                                    <template v-slot:items="props">
                                        <td>[[ props.item.name ]]</td>
                                        <td>[[ props.item.date ]]</td>
                                        <td>[[ props.item.totalAmount ]]</td>
                                        <td>[[ props.item.percent ]]</td>
                                        <td>[[ props.item.commission ]]</td>
                                    </template>
                                </v-data-table>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
{% endblock %}

{% block js %}
    <script>
        var component = {
            data: () => ({
                items: [],
                loading: false,
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Date', value: 'date'},
                    {text: 'Total Amount', value: 'totalAmount'},
                    {text: 'Percent', value: 'percent'},
                    {text: 'Commission', value: 'commission'}
                ]
            }),
            mounted() {
                this.getItems()
            },
            methods: {
                getItems() {
                    this.loading = true
                    axios
                        .get('/report/list')
                        .then(response => {
                            this.items = response.data.items
                        })
                        .catch(err => {
                            swal('Atention', 'Error fetching data', 'error')
                        })
                        .finally(() => {
                            this.loading = false
                        })
                },
                exportToCsv() {
                    this.loading = true;
                    axios({
                        url: '/report/exportToCsv',
                        method: 'GET',
                        responseType: 'blob',
                    }).then((response) => {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'sales-report.csv');
                        document.body.appendChild(link);
                        link.click();
                    }).finally(() => {
                        this.loading = false
                    })
                }
            }
        }
    </script>
{% endblock %}